.dashboardContainer{
    display: flex;
    background-color: rgb(122, 159, 216);
    border-radius: 3rem;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}

ngx-charts-number-card{
    border-radius: 5rem;
    display: flex;
    max-width: fit-content;
    max-height: fit-content;    
}

.ngx-charts{
    padding-right: 380px;
}