.titleFormSpending{
    width: 50%;
    display: grid;
    place-items: center;
    border-radius: 3rem;
}
.titleText{
    display: grid;
    place-items: center;
    text-align: left;
}
.spendingForm{
    border-radius: 3rem 3rem 3rem 3rem;
    background-color: rgb(136, 221, 255);
    margin: 5px;
}
.submit{
    padding-bottom: 10px;
}
.centerButton{
    display: grid;
    place-items: center;
}