
<br>
<div class="spendingForm">
    <div class="titleFormSpending" >
        <div class="titleText">
            <div style="min-height: 12px;"></div>
            <h3>Add Spendings </h3>
        </div>
    </div>
    <div class="container">
        <form [formGroup]="ExpensesForm" (ngSubmit)="OnExpenseSubmited()">
            <div class="row">
              <div class="col-3">
                <label for="amountInput">Amount</label>
                  <input formControlName="typeAmountX" type="number" class="form-control" id="amountInput" placeholder="0.00$">
              </div>
              <div class="col-4">
                <label for="categorySelect">Category</label>
                <div class="row">
                  <div class="d-flex flex-row">
                    <div class="col-9">
                      <select formControlName="typeCategoryX" class="form-control" id="categorySelect" style="padding-right: 5px;">
                        <option *ngFor="let category of categories">{{category}}</option>
                      </select>
                    </div>
                    <div class="col-3 centerButton" style="padding-left: 3px;">
                      <button type="button" class="btn btn-success btn-circle btn-sm" (click)="OnEnableCategory()"
                        style="border-radius: 15rem;">
                        <i [ngClass]="{'bi bi-plus-lg': !isAddCategoryOpened, 'bi bi-dash-lg': isAddCategoryOpened}"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <label  for="categorySelect">Select Date</label>
                  <div class="input-group">
                    <input
                        formControlName="typeDateX"
                        class="form-control"
                        placeholder="date.."
                        name="dp"
                        [(ngModel)]="model"
                        ngbDatepicker
                        #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
            <!-- dsda -->
            <div *ngIf="isAddCategoryOpened" class="col-9" style="padding-top: 10px;">
              <label for="amountInput">Add Category</label>
              <div class="d-flex flex-row centerButton">
                <div class="col-9">
                  <input class="form-control" type="text" [ngModelOptions]="{standalone: true}"[(ngModel)]="newCategory"  placeholder="ex. Gifts..">
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-info" (click)="OnAddCategory()">Add</button>
                 </div>
              </div>
            </div>
            <!-- dsds -->
            </div>
            <div class="form-group mt-3">
              <label for="notesTextarea">Notes</label>
              <textarea formControlName="typeNotesX" class="form-control" id="notesTextarea" rows="3"></textarea>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-3 submit">
              <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </form>
    </div>
</div>