<div class="chat-container">
    <div class="messages-container" #messagesContainer>
      <div class="message-item" *ngFor="let message of messages">
        <img [src]="message.userProfilePicture" class="profile-picture" *ngIf="message.userID !== myId">
        <div class="message-bubble" [ngClass]="{ 'sent-by-me': message.userID === myId, 'sent-by-other': message.userID !== myId }">
          {{ message.message }}
        </div>
        <img [src]="message.userProfilePicture" class="profile-picture" *ngIf="message.userID === myId">
      </div>
    </div>
</div>
<div class="message-input-container">
  <form (submit)="sendMessage()">
    <input [(ngModel)]="newMessage.message" placeholder="Type here.." class="message-input" [ngModelOptions]="{standalone: true}"/>
    <button class="send-button" type="submit">
      <i class="fa fa-paper-plane"></i>
    </button>
  </form>
</div>
  