<div class="container-fluid">
    <div class="row d-flex justify-content-center justify-content-md-center px-5 align-items-center">
        <div class="d-flex justify-content-center">
            <i class="bi bi-exclamation-triangle-fill fa-2x" style="height: 2rem; width: 2rem; align-self: center;"></i>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <p class="text-center px-2"><strong>Are you sure you want to delete this transaction?</strong></p>
    </div>
    <div class="row d-flex justify-content-center px-5 align-items-center">
        <div class="btn-group">
            <button class="btn btn-secondary mr-2 mx-2" style="border-radius: 0.6rem;" (click)="OnCloseButton()">No</button>
            <button class="btn btn-success mr-2 mx-2" style="border-radius: 0.6rem;" (click)="OnDeleteButton()">Yes</button>
        </div>
    </div>
  </div>