<div *ngIf="tabNumber == 0" class="container">
    <app-pie-chart></app-pie-chart>
    <app-spending-cards></app-spending-cards>
    <app-spending-cat-table></app-spending-cat-table>
    <br><br>
</div>
<div *ngIf="tabNumber == 1" >
    <div class="container">
        <app-spending-graph></app-spending-graph>
    </div>
    <div class="container">
        <app-spending-form></app-spending-form>
        <app-spendings-record-table></app-spendings-record-table>
    </div>
</div>
<mat-tab-group class="sliderNavigator" (selectedTabChange)="OnSelectedTab($event)">
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>data_usage</mat-icon></ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>assignment</mat-icon></ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label><mat-icon>calendar_today</mat-icon></ng-template>
    </mat-tab>
  </mat-tab-group>
