.tableContainer{
    min-height: 80px;
    // background-color: aqua;
}
.card{
    border-radius: 1.2rem;
}
.card-header{
    border-radius: 1.2rem;
}
.card-body{
    min-height: 570px;
}
.more{
    border-radius: 1.3rem;
    background-color: whitesmoke;
}