<nav class="navbar navbar-custom bg-light">
    <i class="bi bi-list fa-2x" ></i>
    <form class="form-inline">
        <a class="navbar-brand my-2 my-sm-0" href="">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 60px;"alt="Avatar" />
        </a>
      </form>
      <div class="dropdown">
        <form class="form-inline">
            <a class="navbar-brand my-2 my-sm-0" href="">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" 
                class="rounded-circle dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="width: 60px;"
                id="navbarDropdown" role="button"
                alt="Avatar" />
            </a>
          </form>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item active" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </div>
</nav>
<div mdbDropdown class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="false"
      mdbDropdownToggle
    >
      Dropdown button
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
